/* Diagram loader */
@keyframes ldio-s8zycy054q8 {
  0% { transform: rotate(0deg) }
  100% { transform: rotate(360deg) }
}
.ldio-s8zycy054q8 > div > div {
  transform-origin: 100px 100px;
  animation: ldio-s8zycy054q8 3.0303030303030303s linear infinite;
  opacity: 0.8
}
.ldio-s8zycy054q8 > div > div > div {
  position: absolute;
  left: 30px;
  top: 30px;
  width: 70px;
  height: 70px;
  border-radius: 70px 0 0 0;
  transform-origin: 100px 100px
}.ldio-s8zycy054q8 > div div:nth-child(1) {
  animation-duration: 0.7575757575757576s
}
.ldio-s8zycy054q8 > div div:nth-child(1) > div {
  background: #403075;
  transform: rotate(0deg);
}.ldio-s8zycy054q8 > div div:nth-child(2) {
  animation-duration: 1.0101010101010102s
}
.ldio-s8zycy054q8 > div div:nth-child(2) > div {
  background: #aa8439;
  transform: rotate(0deg);
}.ldio-s8zycy054q8 > div div:nth-child(3) {
  animation-duration: 1.5151515151515151s
}
.ldio-s8zycy054q8 > div div:nth-child(3) > div {
  background: #aa8439;
  transform: rotate(0deg);
}.ldio-s8zycy054q8 > div div:nth-child(4) {
  animation-duration: 3.0303030303030303s
}
.ldio-s8zycy054q8 > div div:nth-child(4) > div {
  background: #403075;
  transform: rotate(0deg);
}
.loadingio-spinner-wedges-eycgleekgyd {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: var(--white);
}
.ldio-s8zycy054q8 {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-s8zycy054q8 div { box-sizing: content-box; }
/******************/


.loader__wrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--white);

  display: flex;
  align-items: center;
  justify-content: center;
}