.header {
  padding: 1rem 0;
  background-color: var(--primary-lighter);
}
.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  font-size: 1.5rem;
  color: var(--white);
}
.header__list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.header__list-item {
  position: relative;
  color: var(--white);
  margin-right: 0.5rem;
}
.header__list-item::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0.1rem;
  background-color: var(--white);
  left: 0;
  bottom: -0.25rem;
  transition: width .3s ease-in-out;
}
.header__list-item:hover::after {
  width: 100%;
}